<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="collection col-lg-10">
    <div id="fill-data" class="1">
        {% for house in house_list %}
            <div class="row collection-line">
                <div class="col-lg-5 col-md-5 mx-auto">
                    <div><a href="/house/{{house.id}}"><img class='img-fluid img-box' src="/static/img/house-bg1.jpg" alt=""></a></div>
                </div>
                <div class="col-lg-5 col-md-5 mx-auto">
                    <div class="collection-line-info">
                        <div class="title">
                            <span><a href="/house/{{ house.id }}">{{ house.title | dealover }}</a></span>
                        </div>
                        <div>
                            <span class="attribute-text">房源地址：</span>&nbsp
                            <span class="info-text">{{ house.address }} </span>
                        </div>
                        <div>
                            <span class="attribute-text">建筑面积：</span>
                                    &nbsp
                            <span class="info-text">{{ house.area }}平方米</span>
                        </div>
                        <div>
                            <span class="attribute-text">房源户型：</span>
                                    &nbsp
                            <span class="info-text">{{house.rooms}}
</span>
                        </div>
                        <div>
                           <span class="attribute-text">房源朝向：</span>
                                    &nbsp
                           <span class="info-text">{{ house.direction | dealdirection }}</span>
                       </div>
                       <div>
                           <span class="attribute-text">交通条件：</span>
                                    &nbsp
                           <span class="info-text">{{ house.traffic | dealdirection }}</span>
                        </div>
                        <div>
                <span class="attribute-text"><i class="fa fa-heart" aria-hidden="true" style="color: #e74c3c"></i> {{ house.page_views }}人浏览过</span>&nbsp
                            <span class="info-text"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 mx-auto">
                    <div class="info-more">
                        <span class="info-text" style="color: #e74c3c">￥&nbsp{{ house.price }}</span>
                        <span><a href="/house/{{ house.id }}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
…………
</div>
</body>
</html>